@charset "utf-8";

*{
    box-sizing: border-box;
}
form{
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

label, select, input{
    font-size: 1.125em;
    font-family: monospace;
    background: #bfbfbf;
    border-radius: 7px;
    outline: none;
} 

label{
    font-weight: bold;
    color: #8844ee;
    margin: 20px 0 5px 0;
    background: #fff;
}
#add, #delete{
    margin: 20px 0 5px 0;
}